*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;


}
body{

  .app{
  
  }
}

.flexSB{
  display: flex;
  justify-content: space-between;
}

#heading{
  text-align: center;
  padding:40px 0;

  h3{
    letter-spacing:1px;
    font-weight: 500;
    color:#1eb2a6;
  }
  h1{
    font-size: 40px;
    color:rgb(134, 127, 127);
  }
}

p{
  line-height:30px;
}

.back{
  background-image: url("../src/images//back.webp");
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top:30%;
  padding-right: 50px;
  color: rgb(0, 0, 0);
  text-align: center;

  h1{
    font-size: 100px;
    font-weight: 400;
  }
  h2{
    font-weight: 500;
    font-size: 17px;

  }
}

.margin{
  margin-top:60%;
}

.grid2{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
  width: 100%;
}

//courseCard 
.grid2{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
  width: 100%;
}
//OnlineCourse
.grid3{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 10px;
  width: 100%;
  
}

.padding{
 padding: 80px 0;
}

.shadow{
  box-shadow: 0 5px 25px -2px rgba(0 0 0 /6%);
  background-color: #fff;
}

.outline-btn{
  margin: 0;
  box-shadow: none;
  border:2px solid #1eb2a6;
  transition:0.6s;
 width: 100%;
  border-radius:4px;
  padding: 5px 0;

  &:hover{
      background-color: #1eb2a6;
      color: #fff;
  }
}

@media (max-width: 768px) {
 
  .back{
    background-position: center;
    padding-top: 50%;
    height:80vh;
  }
  .grid,
  .grid2,
  .grid3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 50%;
   
  } 
}